.content--section {
   border: 1px solid #72c63a;
   border-radius: 20px;
   padding: 20px 40px;
   display: flex;
   flex-direction: column;
   gap: 40px;
}

.section--item {
   display: flex;
   justify-content: space-between;
}
