.counter {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   & input {
      width: 60%;
      max-width: 80px;
      padding: 15px 0;
      text-align: center;
      max-height: 50px;
   }
   & p {
      color: var(--subtext);
      margin-right: 20px;
   }
}
.counter--decrease {
   background: url(../../../../../assets/icons/before.svg);
}
.counter--increase {
   background: url(../../../../../assets/icons/after.svg);
}
.counter--decrease,
.counter--increase {
   background-position: center;
   background-size: cover;
   width: 24px;
   height: 24px;
   color: var(--maintext);
}
.setting--count,
.setting--package {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}

.donation--calendar {
   width: 100%;
   max-height: 360px;
   border: none;
   border-radius: 20px;
   background-color: var(--subcolor-m);
   padding: 20px;
}
.donation--btn {
   width: 100%;
   display: flex;
   justify-content: end;
   & button {
      width: 30%;
   }
}

.donation--content {
   display: flex;
   flex-direction: column;
}

.group {
   display: flex;
   justify-content: space-around;
   gap: 20px;
   & button {
      width: 100%;
      padding: 15px 0;
      max-height: 60px;
      font-weight: 700;
   }
}
