.faq-area {
   padding-top: 120px;
   margin: 0 auto;
}

.faq {
   width: 100%;
   background-color: #ffffff;
   border-radius: 20px;
   padding: 40px;
}

.faq--tab {
   margin: 40px auto;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   max-width: 780px;
   background-color: var(--maincolor);
   border-radius: 20px;
}
.faq--tab .tab {
   padding: 15px 0;
   width: 100%;
   height: 100%;
   max-height: 50px;
   text-align: center;
   font-family: var(--headings);
   &:not(:last-child) {
      border-right: 1px solid white;
   }
   &:hover {
      cursor: pointer;
      background-color: #b2d700;
   }
   &:hover:first-child {
      border-radius: 20px 0 0 20px;
   }
   &:hover:last-child {
      border-radius: 0 20px 20px 0;
   }
   &:hover:not(:first-child):not(:last-child) {
      border-radius: 0;
   }
}
.faq--tab .tab.active {
   background-color: var(--subcolor-d);
   color: var(--subcolor-m);
   & :hover {
      cursor: default;
   }
}
.faq--board--title {
   padding: 0 40px;
   & .board--content {
      border-bottom: 2px dashed rgb(158, 158, 158);
   }
}

.board--content,
.board--toggle {
   display: flex;
   gap: 40px;
   padding: 20px 0;
   & :nth-child(2) {
      width: 90%;
   }
   &:not(:first-child) {
      align-items: start;
   }
}

.board--toggle span {
   color: var(--subcolor-d);
}
.btn.link-btn {
   width: 100%;
   max-height: 60px;
   border-radius: 20px;
   display: flex;
   align-items: center;
   padding: 15px 20px;
   gap: 40px;

   & img {
      width: 24px;
      height: 24px;
   }
   & p {
      width: 90%;
      text-align: left;
      margin: 0;
   }
}
