h2 {
   font-size: 1.25rem;
}

#register {
   padding: 80px;
   @media (max-width: 646px) {
      padding: 0px;
      width: 100%;
   }
}
.user-register {
   background-color: white;
   padding: 40px;
   border-radius: 20px;
   max-width: 920px;
   margin: 0 auto;
   @media (max-width: 646px) {
      padding: 30px;
      width: 100%;
   }
}

/* user */

.registerform {
   width: 100%;
   max-width: 400px;
   padding: 0;
   @media (max-width: 646px) {
      width: 100%;
   }
}
input.placeholder {
   color: var(--subtext);
}
.btn.check {
   font-size: 0.875rem;
}
