.loading {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   width: 100%;
}
.circle {
   background-color: var(--maincolor);
   width: 30px;
   height: 30px;
   border-radius: 100%;
   display: inline-block;
   margin: 0 5px;
   opacity: 1;
   animation: pulse 3s infinite;
}

.circle1 {
   animation-delay: 0s;
}
.circle2 {
   animation-delay: 0.8s;
}
.circle3 {
   animation-delay: 1.5s;
}

@keyframes pulse {
   0%,
   80%,
   100% {
      background-color: var(--maincolor);
   }
   40% {
      background-color: var(--subcolor-d);
   }
}

.loading p {
   font-family: var(--headings);
   color: var(--subtext);
}
