.btn.find {
   text-decoration: underline;
   color: var(--subtext);
   margin-top: 10px;
   font-family: var(--body);
}
.user-find .btn {
   background-color: var(--point-y);
}
.usermenu {
   display: flex;
   flex-direction: column;
   width: 100%;
   gap: 10px;
}
