form {
   background-color: white;
   width: 100%;
   max-width: 920px;
   padding: 80px;
   border-radius: 20px;
}
h2 {
   width: 100%;
   text-align: left;
   font-size: 1.5rem;
}
.inquire--header {
   display: flex;
   width: 100%;
   gap: 20px;
}

.inquire--header select {
   width: 27.5%;
   color: rgb(51, 51, 51);
}

.inquire textarea {
   width: 100%;
}

.group {
   display: flex;
   justify-content: center;
   width: 100%;
   gap: 40px;
}
.group .btn {
   width: 30%;
   max-width: 200px;
}
